.container-profile {
    --horizontal-padding: 16px;
    --vertical-padding: 24px;

    padding: var(--vertical-padding) var(--horizontal-padding);
}

.main {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 1280px;
}

.left-side {

}

.right-side {

}

@media(min-width: 768px) {
    .main {
        flex-direction: row;
    }

    .left-side {
        width: 25%;
    }

    .right-side {
        width: 75%;
    }
}